<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <!---Bestemming-->
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-globe-americas" [class.red-icon]="Destination.invalid && Destination.touched"></i>
                </div>
            </div>
            <input name="Destination" #Destination="ngModel" [(ngModel)]="service.Destination" class="form-control" placeholder="Bestemming *" required>
        </div>
    </div>
    <!--Beschrijving-->
    <div class="form-row">
        <div class="form-group">
            <div class="input-group" style="margin-left:5px">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-pen-alt"></i>
                    </div>
                </div>
                <textarea id="border" name="Description" #Description="ngModel" [(ngModel)]="service.Description" class="form-control" placeholder="Beschrijving" maxlength="250" style="width: 680px; height: 110px"></textarea>
            </div>
        </div>
    <!--Hoogtepunt-->
        <div>
            <div class="form-group">
                <div class="input-group" style="margin-left: 43px;">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-archway"></i>
                        </div>
                    </div>
                    <input name="Highlight" #Highlight="ngModel" [(ngModel)]="service.Highlight" class="form-control" placeholder="Hoogtepunt">
                </div>
            </div>
    <!--Aantal dagen-->
            <div class="form-group">
                <div class="input-group" style="margin-left: 43px; margin-top: 35px">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="far fa-calendar-alt" [class.red-icon]="Days.invalid && Days.touched"></i>
                        </div>
                    </div>
                    <input type="number" min="1" name="Days" #Days="ngModel" [(ngModel)]="service.Days" class="form-control" placeholder="Aantal dagen" required>
                </div>
            </div>
        </div>
    </div>
    <!--Gerelateerd-->
    <div class="form-group">
        <div class="input-group" style="width: 250px">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-suitcase"></i>
                </div>
            </div>
            <mat-radio-group name="Related" #Related="ngModel" [(ngModel)]="service.Related" class="form-control">
                <mat-radio-button value="Privé">Privé</mat-radio-button>
                <mat-radio-button class="col-md-6" value="Werk">Werk</mat-radio-button><br>
            </mat-radio-group>
        </div>
    </div>
    <!--Eten-->
    <div class="form-row">
        <div class="form-group col-md-4" style="height: 100px">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-utensils" [class.red-icon]="Food.invalid && Food.touched"></i>
                    </div>
                </div>
                <mat-select id="border" name="Food" #Food="ngModel" [(ngModel)]="service.Food" class="form-control" placeholder="-Eten *-" required>
                    <mat-option *ngFor="let food of numberList" [value]="food">{{ food }}</mat-option>
                </mat-select>
            </div>
        </div>
        <!--Weer-->
        <div class="form-group col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-umbrella-beach" [class.red-icon]="Weather.invalid && Weather.touched"></i>
                    </div>
                </div>
                <mat-select id="border" name="Weather" #Weather="ngModel" [(ngModel)]="service.Weather" class="form-control" placeholder="-Weer *-" required>
                    <mat-option *ngFor="let weather of numberList" [value]="weather">{{ weather }}</mat-option>
                </mat-select>
            </div>
        </div>
        <!--Ervaring-->
        <div class="form-group col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-check" [class.red-icon]="Experience.invalid && Experience.touched"></i>
                    </div>
                </div>
                <mat-select id="border" name="Experience" #Experience="ngModel" [(ngModel)]="service.Experience" class="form-control" placeholder="-Ervaring *-" required>
                    <mat-option *ngFor="let experience of numberList" [value]="experience">{{ experience }}</mat-option>
                </mat-select>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="form-group">
        <button class="btn btn-succes btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-map-marked-alt" data-cy="add-city-button"></i> Toevoegen</button>
    </div>
</form>