<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">CityTrippr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/UserProfile" routerLinkActive='active' data-cy='profile'>Profiel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallery/list">Galerij</a>
        </li>
      </ul>
    </div>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
  </nav>
</header>

<div class="card m-5" style="width:500px" *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item"><strong>Gebruikersnaam: </strong> {{ userDetails.UserName }}</li>
    <li class="list-group-item"><strong>Voornaam: </strong> {{ userDetails.FirstName }}</li>
    <li class="list-group-item"><strong>Familienaam: </strong> {{ userDetails.LastName }}</li>
    <li class="list-group-item"><strong>Email: </strong> {{ userDetails.Email }}</li>
  </ul>
</div>
