<div>
    <mat-card>
        <mat-form-field>
            <input
            matInput
            (keyup)="filterTrip$.next($event.target.value)"
            placeholder="Zoek bestemming"
            type="text"
            data-cy="filterInput"
            [value]="filterTripDest">
        </mat-form-field>
        <button (click)="applyFilter(filter.value)" mat-raised-button data-cy="filter-button">Zoek</button>
    </mat-card>
</div>
<hr>
<table class="table table-hover" style="margin-bottom: 80px">
    <tr>
        <th>Bestemming</th>
        <th>Beschrijving</th>
        <th>Hoogtepunt</th>
        <th>Dagen</th>
        <th>Gerelateerd</th>
        <th>Eten</th>
        <th>Weer</th>
        <th>Ervaring</th>
        <th></th>
    </tr>
    <tr *ngFor="let trip of (service.list | tripFilter: filterTripDest)">
        <td style="text-align:center">{{ trip.Destination }}</td>
        <td>{{ trip.Description }}</td>
        <td style="text-align:center">{{ trip.Highlight }}</td>
        <td style="text-align:center">{{ trip.Days }}</td>
        <td style="text-align:center">{{ trip.Related }}</td>
        <td style="text-align:center">{{ trip.Food }}</td>
        <td style="text-align:center">{{ trip.Weather }}</td>
        <td style="text-align:center">{{ trip.Experience }}</td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" id="pointer" (click)="onDelete(trip.TripId)" data-cy=delete-city-button></i>
        </td>
    </tr>
</table>