<div class="card" style="width: 500px">
    <div class="card-body">
        <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
            <div class="text-center">
                <img [src]="imgSrc" width="350px" height="250px" (click)="uploadFile.click()">
            </div>
            <div class="form-group">
                <label>Selecteer bestand</label>
                <input type="file" accept="image/*" class="form-control" #uploadFile formControlName="imageUrl" (change)="showPreview($event)" style="height: 45px">
                <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">Dit veld is verplicht!</div>
            </div>
            <div class="form-group">
                <input class="form-control" formControlName="caption" placeholder="Caption">
                <div class="text-danger" *ngIf="isSubmitted && formControls.caption.errors?.required">Dit veld is verplicht!</div>
            </div>
            <div class="form-group">
                <mat-select formControlName="category" class="form-control" placeholder="-Select-">
                    <mat-option value="Europa">Europa</mat-option>
                    <mat-option value="Noord-Amerika">Noord-Amerika</mat-option>
                    <mat-option value="Midden-Amerika">Midden-Amerika</mat-option>
                    <mat-option value="Zuid-Amerika">Zuid-Amerika</mat-option>
                    <mat-option value="Azië">Azië</mat-option>
                    <mat-option value="Afrika">Afrika</mat-option>
                    <mat-option value="Oceanië">Oceanië</mat-option>
                </mat-select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <a routerLink="/gallery/list" class="btn btn-primary btn-block float-right">Galerij</a>
                </div>
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-success btn-block float-right">Uploaden</button>
                </div>
            </div>
        </form>
    </div>
</div>